body, html {
    margin: 0;
    padding: 0;
}

.btn-xs {
    font-size: .7rem;
    padding: .15rem .35rem
}

.hidden {
    display: none;
}

.logo-lg img {
    max-width: 100%;
    max-height: 100%;
}
